* {
  background-color: rgb(92, 92, 92);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: blanchedalmond;
}

h1 {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: aqua;
}